html, body {
  width: 100%;
  height: 100%;
  font-size: 14pt;
  margin: 0;
  padding: 0;
}

/* == tags */
h1, h2, h3 {
 font-family: sans-serif;
 margin-top: 0;
 padding: 0;
 color: #333;
}

h1 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.12em;
}

header {
  display: block;
  padding: 0.5em 1em;
  background-color: #00aa00;
}

select {
  font-size: 1.15em;
/*  line-height: 2em;*/
/*  padding: 0.5em;*/
}

input, button {
  font-size: 1em;
}

/* == layout  */
header h1 {
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  color: #fff;
  font-weight: 300;
}

#content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

section {
  margin: 1em;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px #e5e5e5;
}


#reader {
  margin: 1em 0;
}

#reader h3 {
  margin: 0 0 0 1em;
}

#reader > section {
  margin-top: 0.5em;
  border-top: 2px solid orange;
}

/* == reader simple mode */
[data-mode="simple"] .verse {
  display: table;
  margin: 0.75em;
}

[data-mode="simple"] .verse .verse-number {
  display: table-cell;
  font-size: 0.7857em;
  font-family: Georgia, serif;
  width: 3.5ex;
  color: orange;
  vertical-align: top;
}

[data-mode="simple"] .verse .verse-text {
  display: table-cell;
  font-family: Helvetica, 'Helvetica-Neue', sans-serif;
  font-weight: 300;
  line-height: 1.3em;
  color: $454545;
  vertical-align: top;
}
